/* relative em units important for sizing everything based on text size of logo */

.logo {
  position: relative;
  left: -2.625em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2.625em;
  font-family: var(--logo-font);
  font-size: 1rem;
}

/* Modifier for bigger logo on home page */
.logo_home {
  font-size: 1.375rem;
}

/* size logo relative to viewport after minimum 600px */
@media only screen and (min-height: 600px) and (min-aspect-ratio: 1/1) {
  .logo {
    font-size: 2.75vh;
  }

  .logo_home {
    font-size: 3.75vh;
  }
}

.logo__text {
  margin: 0.0625em 0 0 0;
  text-transform: lowercase;
  line-height: 1.5;
  font-size: 2em;
  font-weight: 400;
}

.logo__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em !important;
  height: 3.6em;
}
