/**
 * Note: em units used within 'blocks' allow us to set relative font size, then we can change 
 * only the block's font-size in media queries and all other proportions stay the same 
 */

.home-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.home-intro__tagline {
  width: 12rem;
  padding: 0 0 0.5em 5.75rem; /* line up with logo */
  margin: 0 0 1.5rem 0;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.125;
}

.home-intro__tagline-keyword {
  /* smart */
  font-weight: 800;
  color: var(--main-accent-color);
}

.home-intro__form {
  padding-bottom: 2.5em;
  margin: auto 0;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .home-intro__tagline {
    width: 13rem;
    padding: 0 0 0.5em 7.375rem; /* line up with logo */
    font-size: 1.9375rem;
  }
}

/* styles for larger devices, wider than tall */
@media only screen and (min-width: 800px) and (min-aspect-ratio: 1/1) {
  .home-intro {
    align-items: flex-start;
    padding: 0;
  }

  .home-intro__tagline {
    width: auto; /* undo lining up with logo */
    padding: 0;
    line-height: 1.25;
  }

  .home-intro__tagline-keyword {
    font-size: 1.25em; /* sized relative to surrounding tagline text */
    line-height: 1.0625;
  }

  .home-intro__form {
    margin: 0;
  }

  /* start viewport-relative sizing only at a certain minimum height */
  @media only screen and (min-height: 600px) {
    .home-intro {
      min-width: 430px; /* prevents tagline from breaking at certain resolutions */
    }

    .home-intro__tagline {
      margin: 0.5em 0 0.875em 0;
      font-size: 5.5vh;
    }

    @media only screen and (min-width: 800px) {
      .home-intro {
        min-width: 40vh; /* prevents tagline from breaking onto 4 lines */
      }
    }
  }

  /* break smart onto it's own line once there's room */
  @media only screen and (min-height: 800px) {
    .home-intro__tagline-keyword {
      display: block;
    }
  }

  @media only screen and (min-height: 1080px) {
    .home-intro {
      max-width: 480px;
    }

    .home-intro__form {
      font-size: 1.125rem;
    }

    /* bump the help link down a bit when there's room */
    .help-link {
      position: relative;
      bottom: -1.5vh;
    }
  }
}
