/**
 * Note: em units used within 'blocks' allow us to set relative font size, then we can change 
 * only the block's font-size in media queries and all other proportions stay the same 
 */

.home-intro {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
}

.home-intro__tagline {
  margin: 0.5em 0 0.875em 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
}

.home-intro__tagline-keyword {
  /* smart */
  font-size: 1.25em; /* sized relative to surrounding tagline text */
  line-height: 1.0625;
  font-weight: 800;
  color: var(--main-accent-color);
}

.home-intro__form {
  padding-bottom: 2.5em;
  font-size: 1rem;
}

/* limit viewport-relative sizing at a certain small point */
@media only screen and (min-height: 600px) and (min-aspect-ratio: 1/1) {
  .home-intro {
    min-width: 430px; /* prevents tagline from breaking at certain resolutions */
  }

  .home-intro__tagline {
    font-size: 5.5vh;
  }

  @media only screen and (min-width: 800px) {
    .home-intro {
      min-width: 40vh; /* prevents tagline from breaking onto 4 lines */
    }
  }
}

@media only screen and (min-height: 800px) {
  .home-intro__tagline-keyword {
    display: block; /* break smart onto it's own line once there's room */
  }
}

@media only screen and (min-height: 1080px) {
  .home-intro {
    max-width: 480px;
  }

  .home-intro__form {
    font-size: 1.125rem;
  }
}

/* this block could maybe go into it's own component? */

.get-started-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'join-section join-section'
    'create-button join-button'
    'form-errors form-errors';
  max-width: 480px;
}

.get-started-form__join-section {
  grid-area: join-section;
}

.get-started-form__errors {
  grid-area: form-errors;
  margin: 2rem 0 0 0;
}

.get-started-form__heading {
  margin: 0 0 0.125em 0;
  font-size: 1.25em;
}

.get-started-form__directions {
  margin: 0 0 1.6875em 0;
  font-size: 1em;
}

.get-started-form__button {
  font-size: 1.25em;
  transition: all var(--transition-timing);
}

.get-started-form__button_create {
  grid-area: create-button;
  margin: 0 0.9375rem 0 0;
}

.get-started-form__button_join {
  grid-area: join-button;
  margin: 0 0 0 0.9375rem;
}

/* for highlighting the button once a valid token is entered */
.get-started-form__join-button_ready {
  transform: scale(1.03125);
}

/* on wider than tall screens, bump the help link down a bit when there's room */
@media only screen and (min-height: 1080px) and (min-aspect-ratio: 1/1) {
  .help-link {
    position: relative;
    bottom: -1.5vh;
  }
}
