.dialog-open {
  display: block;
}

.dialog-close {
  display: none;
}

.dialog-backdrop {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

[role='alertdialog'] {
  position: absolute;
  top: 2rem;
  left: 35vw;

  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
}
