.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  background: var(--overlay-background);
  /* smooth transition in */
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-timing),
    visibility var(--transition-timing);
  z-index: 100;
}

.dialog_open {
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition-timing);
}

.dialog__modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 1.25rem 1rem 2rem 1rem;
  margin: 1rem;
  box-sizing: border-box;
  background: #fff;
  border-radius: var(--ui-border-radius);
}

.dialog__heading {
  flex-basis: 100%;
  padding: 0;
  margin: 0.5em 0.5em 1em 0.5em; /* side margins to allow for button gap only when room */
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.dialog__item-name {
  font-weight: 700;
}

.dialog__button {
  flex-grow: 1;
  margin: 1rem 1rem 0 1rem; /* side margins to allow for button gap only when room */
}

/* put the buttons side-by-side when there's room */
@media only screen and (min-width: 480px) {
  .dialog__modal {
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px) {
  .dialog__modal {
    padding: 1.75rem 1.5rem 2.5rem 1.5rem;
    margin: 20vh 4rem 4rem 4rem;
  }

  .dialog {
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1600px) {
  .dialog__modal {
    max-width: 600px;
  }
  .dialog__heading {
    font-size: 1.5rem;
  }
}
