/* Layout styles */
.list-view {
  position: relative;
  padding: 1.25rem 1.25rem calc(94px + 4rem) 1.25rem;
  margin: 0 auto;
  font-size: 1.125rem;
  background: var(--light-gray);
  z-index: 1;
}

.list-view_adding-item {
  position: fixed;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.list-view_adding-item:after {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  background: var(--overlay-background);
  width: 100%;
  height: 100vh;
  content: '';
}

.list-view__main {
  position: relative;
  margin: 2rem 0 0 0;
}

.list-view__filter {
  margin: 0 0 2rem 0;
}

.list-view__add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 94px;
  background: var(--main-accent-color);
  border: none;
  border-radius: 94px;
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.list-view__add-button_desktop {
  display: none;
}

.list-view__add-button_mobile {
  position: fixed;
  left: calc(50% - 47px);
  bottom: 2rem;
  transition: 0.5s bottom 0.05s ease-in-out, transform 0.5s ease-in-out;
}

.list-view__add-button_close {
  transform: rotate(-135deg);
}

.list-view__add-button_mobile.list-view__add-button_close {
  position: absolute;
  left: calc(50% - 47px);
  bottom: calc(100vh - 8rem - 47px);
  transition: bottom 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.list-view__empty {
  max-width: 20rem; /* so it doesn't break weirdly on amaller mobile */
  margin: 3rem auto 0 auto;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .list-view__empty {
    max-width: none;
  }
}

/* add some extra padding at the sides of list when there's room */
@media only screen and (min-width: 700px) {
  .list-view {
    padding: 1.25rem 2.5rem calc(94px + 4rem) 2.5rem;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 900px) {
  .list-view__main {
    margin: 0;
  }

  .list-view__empty {
    margin: 6rem 0 0 2.625em;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .list-view {
    box-sizing: border-box;
    max-width: 70%;
    padding: 1.25rem 3rem 1.25rem 4.5rem;
    margin: 0 0 0 0;
  }

  .list-view_adding-item {
    position: static;
    overflow-y: visible;
  }

  .list-view_adding-item:after {
    display: none;
  }

  .list-view__header,
  .list-view__empty {
    font-size: 1.25rem;
  }

  /* move the logo, count left into the gutter when there's room */
  .list-view__header {
    margin-left: -2.9375rem;
  }

  /* make room for add button on right */
  .list-view__filter {
    margin: 0 130px 2rem 0;
  }

  .list-view__add-button_mobile {
    display: none;
  }

  .list-view__add-button_desktop {
    display: flex;
    position: absolute;
    left: auto;
    bottom: auto;
    right: calc(-16px);
    top: 0.125em;
    transition: 0.25s right var(--transition-timing), transform 0.5s ease-in-out;
  }

  .list-view__add-button_close {
    /* accounts for half icon, li padding and container padding */
    right: calc(-3rem - 0.625em - 16px);
    transform: rotate(-135deg);
  }
}

@media only screen and (min-width: 1530px) {
  .list-view {
    max-width: 750px;
    box-sizing: content-box;
    padding: 1.25rem;
    margin: 0 auto;
  }

  .list-view__header,
  .list-view__empty {
    font-size: 1.375rem;
  }

  .list-view__add-button_close {
    /* accounts for half icon, li padding and container padding */
    right: calc(-2.5rem - 0.625em - 16px);
  }
}

@media only screen and (min-width: 1920px) {
  .list-view {
    max-width: 900px;
    padding: 1.25rem 3.5vw;
  }

  .list-view__add-button_close {
    /* accounts for half icon, li padding and container padding */
    right: calc(-3.5vw - 0.625em - 16px);
  }
}

/* Reusable block for heading plus action links (used in empty list and item count) */

.list-summary__heading {
  padding: 0;
  margin: 0;
  font-size: 1.125em;
  font-weight: 300;
  line-height: 1.125;
}

.list-summary__strong {
  font-weight: 800;
  color: var(--main-accent-color);
}

.list-summary__action {
  display: block;
  font-size: 1rem;
  line-height: 1.25;
  height: auto;
}

.list-summary__action {
  display: inline-block;
}

.list-summary__action:before {
  content: '|';
  display: inline-block;
  margin: 0 0.5em;
  font-weight: 400;
  color: var(--icon-a11y-gray);
}

.list-summary__action:nth-child(2):before {
  display: none;
}

.list-summary__extra {
  display: none;
}

@media only screen and (min-width: 650px) {
  .list-summary__extra {
    display: inline;
  }

  .list-summary__mobile {
    display: none;
  }

  .list-summary__action:before {
    margin: 0 0.75em;
  }
}
