.list-header {
  display: grid;
  grid-template:
    'logo share-toggle'
    'share-token share-token';
  align-items: start;
  justify-content: space-between;
}

.list-header__share-toggle-button {
  grid-area: share-toggle;
}

.list-header__share-token {
  grid-area: share-token;
  margin: 1.25rem 0 0.25rem 0;
}

.list-header__welcome {
  margin: 0;
  font-size: 36px;
}

.list-header__logo {
  grid-area: logo;
  margin: 0;
  font-size: 1.75rem;
}

@media only screen and (min-width: 800px) {
  .list-header {
    display: grid;
    grid-template: 'logo share-token';
  }

  .list-header__share-token {
    margin: 0;
  }
}
