.list-header {
  position: relative;
  display: grid;
  grid-template:
    'main'
    'share-token';
  align-items: start;
}

.list-header__main {
  grid-area: main;
}

.list-header__logo {
  left: 0;
  margin: 0;
  font-size: 1em;
}

.list-header__count {
  padding-left: 2.625em;
}

.list-header__share-toggle-button {
  position: absolute;
  top: 0;
  right: 0;
}

.list-header__share-token {
  grid-area: share-token;
  margin: 1.25rem 0 0.25rem 0;
}

@media only screen and (min-width: 900px) {
  .list-header {
    display: grid;
    grid-template:
      'main share-toggle'
      'main share-token';
    grid-template-columns: 1fr min-content;
  }

  .list-header__main {
    grid-row: 1 / 3;
  }

  .list-header__share-toggle-button {
    position: static;
    grid-area: share-toggle;
  }

  .list-header__share-token {
    grid-area: share-token;
  }
}
