/* For home page, help page, 404 page */
.page-view {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--light-gray);
}

.page-view__main {
  padding: 0 8vw 3rem 8vw;
}

.page-view__footer {
  padding: 1em 2rem;
  margin-top: auto;
  font-size: 1rem;
  color: #fff;
  text-align: center;
  background: var(--charcoal);
}

.link_footer {
  color: #fff;
}

.link_footer:hover,
.link_footer:focus {
  color: var(--main-accent-color-light);
}

@media only screen and (min-width: 600px) {
  .page-view__footer {
    font-size: 1.25rem;
    padding: 1em 3rem;
  }
}

/* larger devices that are wider than tall */
@media only screen and (min-width: 800px) and (min-aspect-ratio: 1/1) {
  :root {
    background: var(--charcoal);
  }

  .page-view {
    /* minimum padding + margin to start with */
    padding: 2.625rem 5.25rem;
    margin: 0 0 0 18vw;
  }

  /* after minimum 800x600, scale the padding + margin taking into account available height and width */
  @media only screen and (min-height: 600px) {
    .page-view {
      padding: 7vh 14vh;
    }
  }

  .page-view__main {
    padding: 4rem 0 2rem;
  }

  .page-view__footer {
    padding: 0;
    text-align: left;
    background: transparent;
    color: var(--charcoal);
  }

  .link_footer {
    color: var(--charcoal);
  }
  .link_footer:hover,
  .link_footer:focus {
    color: var(--main-accent-color);
  }

  @media only screen and (min-height: 800px) {
    .page-view__footer {
      font-size: 1.5rem;
    }
  }

  @media only screen and (min-height: 1080px) {
    .page-view__footer {
      font-size: 1.625rem;
    }
  }
}
