.filter {
  position: relative;
  margin: 20px 0;
}

.filter__text-field {
  padding-right: 2.5em;
}

.filter__clear {
  position: absolute;
  bottom: var(--border-width);
  right: var(--border-width);
  width: 2em;
  height: 2em;
  font-size: inherit;
  border: none;
  box-sizing: border-box;
}
