.filter {
  margin: 2rem 130px 2rem 0;
}

.filter__text-field {
  padding-left: 4rem;
  background: var(--input-bg-color) url(../../images/icon-filter.svg) 1rem 50%
    no-repeat;
  background-size: 2rem 2rem;
}

/* some slight BEM defiance here to avoid tons of classes on SVGs we may change */
.filter__clear .icon__bg,
.filter__clear .icon__mark {
  transition: fill var(--transition-timing);
}

.filter__clear:hover .icon__bg,
.filter__clear:focus .icon__bg {
  fill: currentColor;
}

.filter__clear:hover .icon__mark,
.filter__clear:focus .icon__mark {
  fill: #fff;
}
