.filter {
  margin: 20px 0;
}

/* some slight BEM defiance here to avoid tons of classes on SVGs we may change */
.filter__clear .icon__bg,
.filter__clear .icon__mark {
  transition: fill var(--transition-timing);
}

.filter__clear:hover .icon__bg,
.filter__clear:focus .icon__bg {
  fill: currentColor;
}

.filter__clear:hover .icon__mark,
.filter__clear:focus .icon__mark {
  fill: #fff;
}
