/* Global styles shared across the app */

/*
BEM conventions we are using:

.block   
.some-block-with-long-name   

.block__element
.some-block__some-verbose-element

.block_modifier

.block__element_modifier

.block__element_modifier_option
(ie. .block__element_color-scheme_dark)

BEM Reference: https://en.bem.info/methodology/quick-start/

CSS Organization reference: https://gist.github.com/awkale/ad46e2ade70e833fa178
*/

/* import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Calistoga&Montserrat:ital,wght@0,300;0,400;0,600;0,800;1,400;1,600;&display=swap');

:root {
  --logo-font: 'Calistoga', serif;
  --main-font: 'Montserrat', sans-serif;

  --main-accent-color: #3d9645; /* sample accent color, a11y: passes AA for 18px text */
  --main-accent-color-light: #d2ecd4;
  --main-accent-a11y-text: #2a8032; /* passes AA for 16pt text */
  --highlight-color: #ffc62e; /* sample highlight color, used for key nav focus outlines */
  --warning-color: #c3360b; /* a11y: passes AA at 16 px */
  --warning-color-focus: #a12d0a; /* focus/hover alternative */
  --warning-color-light: #f0dcd7;
  --warning-color-dark-mode: #cc6242;

  /* icons must have contrast of 3:1 according to WCAG */
  --item-soon-color: #187b21;
  --item-kind-of-soon-color: #308b37; /* passes AA at 18px + bold */
  --item-not-soon-color: #48ad51;
  --item-inactive-color: #8e8d96;

  --light-gray: #f5f3fa;
  --medium-gray: #dddce6;
  --text-a11y-gray: #76757c; /* a11y: passes AA at 16px */
  --icon-a11y-gray: #91909b; /* a11y: passes AA at 18px or for icons */
  --charcoal: #2a2933;

  --border-width: 2px; /* consistent border width for UI elements, dividers, etc. */
  --ui-border-radius: 18px; /* for buttons, text fields */
  --container-border-radius: 18px; /* for panels, etc. */

  --icon-size-sm: 28px;
  --icon-size-lg: 32px;

  /* text fields styles */
  --input-bg-color: var(--medium-gray);
  --input-focus-color: var(--main-accent-color-light);

  --overlay-background: rgba(42, 41, 51, 0.5);

  --transition-timing: 0.25s ease-in-out; /* consistent transitions on UI elements */

  color: var(--charcoal);
}

.body {
  font-family: var(--main-font);
  font-size: 1.125rem;
  min-width: 320px;
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .body {
    font-size: 1.25rem;
  }
}

.link {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  color: var(--main-accent-color);
  text-decoration: none;
  text-align: inherit;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: color var(--transition-timing);
  outline: none;
}

.link:hover,
.link:focus {
  color: var(--charcoal);
}

.link:focus-within {
  border-radius: 3px;
  box-shadow: 0 0 0 3px var(--highlight-color);
}

.link_delete {
  color: var(--warning-color);
}

.link_delete:hover,
.link_delete:focus {
  color: var(--warning-color-focus);
}

.strong {
  font-weight: 600;
}

/* removes default ul/ol styles */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* More info: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
