/* Global styles shared across the app */

/*
BEM conventions we are using:

.block   
.some-block-with-long-name   

.block__element
.some-block__some-verbose-element

.block_modifier

.block__element_modifier

.block__element_modifier_option
(ie. .block__element_color-scheme_dark)

BEM Reference: https://en.bem.info/methodology/quick-start/

CSS Organization reference: https://gist.github.com/awkale/ad46e2ade70e833fa178
*/

:root {
  --main-accent-color: #408a10; /* sample accent color, a11y: passes AA for 18pt text */
  --highlight-color: #ffc62e; /* sample highlight color, used for key nav focus outlines */
  --warning-color: #dd380a; /* a11y: passes AA at 16 pt for text or bg with white */
  --warning-color-focus: #a1381b; /* focus/hover alternative */

  /* icons must have contrast of 3:1 according to WCAG */
  --item-soon-color: #2e6907;
  --item-kind-of-soon-color: #408a10;
  --item-not-soon-color: #54a71d;
  --item-inactive-color: #8e8d96;

  --light-gray: #f3f2f7;
  --medium-gray: #dddce6;
  --text-a11y-gray: #76757c; /* a11y: passes AA at 16 pt */
  --text-lg-a11y-gray: #8e8d96; /* a11y: passes AA at 18 pt or for icons */
  --icon-a11y-gray: #91909b; /* a11y: passes AA at 18 pt or for icons */
  --charcoal: #171429;

  --border-width: 2px; /* consistent border width for UI elements, dividers, etc. */
  --ui-border-radius: 7px; /* for buttons, text fields */
  --container-border-radius: 16px; /* for modals, panels, etc. */

  --icon-size-sm: 28px;
  --icon-size-lg: 32px;

  /* text fields styles */
  --input-bg-color: var(--medium-gray);
  --input-border-color: var(--medium-gray);

  --overlay-background: rgba(0, 0, 0, 0.3);

  --transition-timing: 0.25s ease-in-out; /* consistent transitions on UI elements */

  color: var(--charcoal);
  background: var(--medium-gray);
}

.body {
  font-size: 1.125rem;
}

@media only screen and (min-width: 600px) {
  .body {
    font-size: 1.25rem;
  }
}

.container {
  position: relative;
  max-width: 700px;
  padding: 30px;
  margin: 0 auto;
  background: #fff;
}

.container__header {
  margin-bottom: 40px;
}

.container__separator {
  margin: 40px 0;
  text-align: center;
}

.text-field {
  display: block;
  width: 100%;
  height: 3rem; /* after switching to rems, need this or clear button slightly off */
  padding: 0.25rem 0.75rem;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  line-height: 1.75;
  color: inherit;

  background: var(--input-bg-color);
  border: var(--border-width) solid var(--input-border-color);
  border-radius: var(--ui-border-radius);
  outline: none;
  box-shadow: none;
}

.text-field:focus {
  border-color: var(--charcoal);
}

.text-field_has-error {
  margin: 0 0 0.375rem;
  border: var(--border-width) solid var(--warning-color);
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.fieldset_type_check-radio {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.legend {
  padding: 0;
  margin: 0;
}

.legend_type_check-radio {
  grid-column-start: 1;
  grid-column-end: 3;
}

.radio {
  margin: 0 0.75rem 0 0;
}

.label_type_check-radio {
  line-height: 1.25;
}

.button {
  display: block;
  padding: 0.75rem;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.25;
  color: var(--charcoal);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  background: transparent;
  border: var(--border-width) solid var(--charcoal);
  border-radius: var(--ui-border-radius);
  outline: none;
  transition: color var(--transition-timing),
    border-color var(--transition-timing),
    background-color var(--transition-timing);
}

.button:hover,
.button:focus {
  background-color: var(--medium-gray);
}

.button_type_primary {
  color: #fff;
  background: var(--charcoal);
}

.button_type_primary:hover,
.button_type_primary:focus {
  color: #fff;
  background: var(--main-accent-color);
  border-color: var(--main-accent-color);
}

.button_type_delete {
  color: #fff;
  background: var(--warning-color);
  border-color: var(--warning-color);
}

.button_type_delete:hover,
.button_type_delete:focus {
  color: #fff;
  background: var(--warning-color-focus);
  border-color: var(--warning-color-focus);
}

.notice {
  font-style: italic;
  color: var(--text-a11y-gray);
}

.error {
  margin: 0.625rem 0;
  font-style: normal;
  color: var(--warning-color);
}

.error_type_field {
  margin: 0 0 1.25rem 0;
  font-size: 1rem;
}

@media only screen and (min-width: 600px) {
  .error_type_field {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  .error_type_field {
    font-size: 1.25rem;
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* More info: https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.icon-only-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  color: var(--icon-a11y-gray); /* controls icon color using currentColor */
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 3px; /* so a11y focus outline is not all pointy */
  outline: none;
  box-shadow: none;
  transition: color var(--transition-timing);
}

.icon-only-button:hover,
.icon-only-button:focus {
  color: var(--charcoal); /* controls icon color using currentColor */
  outline: none;
}

.icon-only-button:focus-visible {
  box-shadow: 0 0 0 3px var(--highlight-color); /* a11y outline for keyboard nav only */
}

/* these are classes within the SVG styles, so we can reuse the same icons and swap icons easily */
.icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  color: currentColor;
}

@media only screen and (min-width: 600px) {
  .icon {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
}

.icon__border {
  fill: currentColor;
}

.icon__bg {
  fill: transparent;
}

.icon__mark {
  fill: currentColor;
}
