.share-token {
  display: none;
  padding: 1rem 2.25rem 2.375rem 2.25rem;
  font-size: 1rem;
  background: var(--light-gray);
}

.share-token_mobile_show,
.share-token_desktop_show {
  display: block;
}

.share-toggle-button {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  margin: 0 0 0 auto;
}

.share-toggle-button,
.share-toggle-button:hover,
.share-toggle-button:focus {
  background: none;
  border: none;
}

.share-toggle-button:hover {
  color: var(--main-accent-color);
}

.share-toggle-button:focus-visible {
  border-radius: 3px;
  box-shadow: 0 0 0 3px var(--highlight-color);
}

.share-icon {
  fill: currentColor;
}

.share-toggle-button__icon {
  justify-self: center;
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
  margin: 0 0 -0.1875rem auto;
}

.share-toggle-button__strong {
  display: none;
  margin: 0.5rem 0 0.125rem 0;
  font-family: var(--logo-font);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

.share-toggle-button__hint {
  grid-column: 1 / 3;
  max-width: 10rem;
  margin: 0.5rem 0 0 0;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--charcoal);
  text-align: center;
  /* make visually hidden on smaller screens */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.share-toggle-button_desktop_expanded .share-toggle-button__hint {
  display: none;
}

.share-token {
  text-align: center;
}

.share-token__token {
  padding-left: 2rem;
  font-size: 1.125rem;
  text-align: center;
  background-color: var(--main-accent-color-light) !important;
}

.copy-icon {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
  fill: currentColor;
}

.copied-icon {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}
.copied-icon .icon__bg,
.copied-icon .icon__border {
  fill: transparent;
}

.copied-icon .icon__mark {
  fill: currentColor;
}

.share-token__copy-button {
  transition: none;
}

.share-token__copy-button:after {
  content: '';
  opacity: 0;
  transition: opacity var(--transition-timing);
}

.share-token__copy-button_copied,
.share-token__copy-button_copied:hover,
.share-token__copy-button_copied:focus {
  color: var(--main-accent-color);
}

/* Show a tooltip when copy succeeds */
.share-token__copy-button_copied:focus:after,
.share-token__copy-button_copied:hover:after {
  position: absolute;
  bottom: -1.5rem;
  color: var(--main-accent-color);
  content: attr(aria-label); /* Use the "Copied!" aria-label as tooltip text */
  opacity: 1;
  transition: opacity var(--transition-timing);
}

@media only screen and (min-width: 800px) {
  .share-toggle-button__icon {
    margin: 0 1rem -0.1875rem auto;
  }

  .share-toggle-button__strong {
    display: block;
  }

  .share-toggle-button__hint {
    /* undo visually hidden for larger screens */
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    white-space: normal;
  }

  .share-token {
    padding: 0;
    margin: 0.5rem 0 0 0;
    background: none;
  }

  .share-token_mobile_show {
    display: none;
  }

  .share-token__token {
    background: var(--light-gray);
  }
}
