/*

.item__label_soon {
  background: #e5f5e1;
}

.item__label_kind-of-soon {
  background: #fff2da;
}

.item__label_not-soon {
  background: #fee0d4;
}

.item__label_inactive {
  background: #eee;
}

*/

.item {
  display: flex;
  align-items: center;
  border-top: var(--border-width) solid var(--light-gray);
  padding: 13px 6px 12px 6px;
}

.item:first-child {
  border-top: var(--border-width) solid transparent;
}

.item__label {
  font-size: 24px;
  margin: 0 0 0 16px;
  padding-bottom: 0.25em; /* bumps the label up to be more even with the icons */
}

.item__details-button {
  margin: 0 16px;
}

.item__delete-button {
  margin: 0 0 0 auto;
}

.item__delete-button:hover,
.item__delete-button:focus {
  color: var(--warning-color);
}

.checkbox-target {
  cursor: pointer;
  display: block;
  padding: 0;
  margin: 0;
  height: 32px;
  width: 32px;
  padding: 2px;
  border-radius: 3px; /* so a11y focus outline is not all pointy */
}

.checkbox-icon__border {
  fill: currentColor;
}

.checkbox-icon__bg {
  fill: currentColor;
}

/* by default, checkbox icon unchecked */
.checkbox-icon__mark {
  fill: none;
}

/* if checkbox input is checked, change the SVG color in the label.checkbox-target beside it */
.checkbox:checked + .checkbox-target .checkbox-icon__mark {
  fill: #fff;
}

.checkbox:focus-visible + .checkbox-target {
  box-shadow: 0 0 0 3px var(--highlight-color); /* a11y outline for keyboard nav only */
}
