.checkbox-icon__border {
  fill: currentColor;
}

.checkbox-icon__bg {
  fill: currentColor;
}

/* by default, checkbox icon unchecked */
.checkbox-icon__mark {
  fill: none;
  transition: all var(--transition-timing);
}

.checkbox-target {
  color: var(--item-soon-color);
  display: block;
  height: var(--icon-size-sm);
  width: var(--icon-size-sm);
  padding: 0.125rem;
  margin: 0;
  cursor: pointer;
  border-radius: 3px; /* so a11y focus outline is not all pointy */
}

@media only screen and (min-width: 600px) {
  .checkbox-target {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
}

.checkbox-target:hover .checkbox-icon__mark {
  fill: rgba(255, 255, 255, 0.35);
}

/* if checkbox input is checked, change the SVG color in the label.checkbox-target beside it */
.checkbox:checked + .checkbox-target .checkbox-icon__mark {
  fill: #fff;
}

.checkbox:focus-visible + .checkbox-target {
  box-shadow: 0 0 0 3px var(--highlight-color); /* a11y outline for keyboard nav only */
}

.checkbox-target_status_soon {
  color: var(--item-soon-color);
}

.checkbox-target_status_kind-of-soon {
  color: var(--item-kind-of-soon-color);
}

.checkbox-target_status_not-soon {
  color: var(--item-not-soon-color);
}

.checkbox-target_status_inactive {
  color: var(--item-inactive-color);
}

.item {
  padding: 0.8125em 0.625em 0.8125em 0.625em;
  border-top: var(--border-width) solid var(--medium-gray);
}

.item:first-child {
  border-top: var(--border-width) solid transparent;
}

.item__primary {
  display: flex;
  align-items: center;
}

.item__label {
  margin: 0 0 0 1rem;
}

@media only screen and (min-width: 600px) {
  .item__label {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .item__label {
    font-size: 1.375rem;
  }
}

.item__details-button {
  margin: 0 0 0 auto;
  transition: transform 0.3s linear;
}

.item__details-button_expanded {
  transform: rotate(-180deg); /* arrow points up when details expanded */
}

.item__delete-button {
  margin: 0 0 0 0.875em;
}

.item__delete-button:hover,
.item__delete-button:focus {
  color: var(--warning-color);
}

.item__message {
  font-size: 1rem;
}

.item__message_visible {
  /* account for icon size, icon padding, and margin between icon and item name */
  margin: 0.25rem 0 0.5rem calc(var(--icon-size-lg) + 1.25rem);
}

.item__details {
  flex-basis: 100%;
  margin: 0;
}

.details {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  will-change: height;
  transition: 0.35s height 0.15s ease-in-out, opacity var(--transition-timing),
    visibility var(--transition-timing);
}

.details_visible {
  visibility: visible;
  opacity: 1;
  height: auto;
  transition: height 0.35s ease-in-out, 0.35s opacity var(--transition-timing),
    0.35s visibility var(--transition-timing);
}

.details__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.625rem 0 0 0;
  font-size: 1rem;
  color: var(--text-a11y-gray);
  line-height: 1.5;
}

.details__detail {
  margin: 0.25rem 0 0 0;
}

.details__name {
  margin: 0 0.375rem 0 0;
}

.details__value {
  color: var(--charcoal);
  font-weight: 500;
}

.details__value-soon {
  margin-left: 0.5rem;
  color: var(--item-soon-color);
  font-weight: bold;
}

.details__year {
  font-weight: 400;
  color: var(--text-a11y-gray);
}

@media only screen and (min-width: 400px) {
  .details {
    flex-direction: row;
    justify-content: center;
  }

  .details__detail {
    margin: 0.25rem 1rem 0 1rem;
  }
}

@media only screen and (min-width: 600px) {
  .item__details {
    /* account for icon size, icon padding, and margin between icon and item name */
    margin: 0 0 0 calc(var(--icon-size-lg) + 0.25rem);
  }

  .details__list {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.75rem 0 0 0;
  }

  .details__detail {
    margin: 0.25rem 1rem 0 1rem;
  }
}
